<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <fonts>
    <default_font file="Resources/fonts/Mindustry/fonts/font.ttf" size="32"/>
  </fonts>
  

  <audio>
    <music name ="audio/music/music_sadpiano.ogg">
    </music>
    <fx name ="">
    </fx>
  </audio>
  
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>Resources/maps/</folder>
  </map>

  <minimap size="1" position.x="0" position.y="0"/>

  <gui>
    <atlas file="Resources/gui/atlas.png"/>
  </gui>

</config>